.page {
    font-family: sans-serif;
    background: #f5f7fa;
    min-height: 100vh;
  }
  
.hero {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1521737604893-d14cc237f11d);
    background-size: cover;
    background-position: center;
    position: relative;
  }

.overlay{
    background: rgba(0,0,0,0.5);
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
